/* Content defaults to left side */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Set fonts */
html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* header logo and navbar */
header {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
    
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

/* navbar links */
ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header, .hero, footer /* color to header, hero, and footer */{
    background-color: #1f2937;

}

/* hero text and image */
.hero {
    display: flex;
    margin: 0px;
    padding: 80px;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 400px;
    gap: 16px;
   
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 905;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
}


.reg-1 {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    border: none;
}

button {
    display: block;
    width: 30%;
    height: 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
}

.info {
    margin: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.info-header {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 48px;
    margin: 16px;
    max-width: 50%;
    gap: 76px;
}
.grid img {
    max-width: 150px;
    height: auto;
}

.grid p {
    text-align: center;
    color: #1f2937;
    font-weight: lighter;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 76px;
    margin: auto;
    background-color: #e5e7eb;
    gap: 32px;
}

.quote-header {
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    display: flex;
    max-width: 450px;
}

.quote-footer {
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 32px;
    margin: 114px;
    border-radius: 8px;
}

.cta-text {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.call-to-action h3 {
    font-weight: bold;
    font-size: 28px;
}

.call-to-action p {
    font-size: 18px;
}

.cta-btn {
    display: block;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    width: 125px;
}


footer {
    padding: 32px;
    color: #e5e7eb;
    text-align: center;
}