/* Content defaults to left side */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Set fonts */
html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header, .hero {
    background-color: #1f2937;

}

.hero {
    display: flex;
    margin: 0px;
    padding: 80px;
    align-items: center;
    justify-content: space-around;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 400px;
    gap: 16px;
   
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 905;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.reg-1 {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
}

button {
    display: block;
    width: 30%;
    height: 32px;
    border: none;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
}

.info {
    margin: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.info-header {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 48px;
    margin: 16px;
    max-width: 50%;
    gap: 76px;
}
.grid img {
    max-width: 150px;
    height: auto;
}

.grid p {
    text-align: center;
    color: #1f2937;
    font-weight: lighter;
}